.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #2196f3;
}

.social-list__link:hover > svg {
  fill: #fff;
}

.social-list__link > svg {
  width: 20px;
  height: 20px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--color {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__link--color > svg {
  fill: #fff;
}

.social-list__link--color:not(:last-child) {
  margin-right: 10px;
}

.social-list__footer {
  margin-top: 20px;
}

.modal-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  pointer-events: auto;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 0ms linear 0ms;
}

.backdrop__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 0ms linear 300ms;
}

.backdrop.is-hidden .modal-window {
  transform: scale(0.3) perspective(400px) rotateX(25deg);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  width: 528px;
  height: 581px;
  padding: 40px 39px 40px 41px;
  background-color: #fff;
  transform: scale(1) perspective(400px) rotateX(0deg);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 0px;
}

.modal-window__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__button:focus > svg,
.modal-window__button:hover > svg {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 2500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.modal-form {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
}

.modal-form__submit {
  align-self: center;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  font-weight: 600px;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__submit:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  opacity: 0.7;
}

.modal-form__message {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus, .modal-form__message:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-form__input:focus + .modal-form__svg {
  fill: #2196f3;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 0px;
  margin-top: 10px;
}

.modal-form__label-policy {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form__label-policy::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__svg {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__policy {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.modal-form__policy:checked + .modal-form__label-policy::before {
  background-color: #2196f3;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border: 2px solid #2196f3;
  border-radius: 2px;
}

.modal-form__policy:focus + .modal-form__label-policy::before {
  border: 2px solid #2196f3;
  border-radius: 2px;
}

.underline {
  text-decoration: underline;
  color: #2196f3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.underline:hover, .underline:focus {
  text-decoration: underline;
  color: #2196f3;
  outline: none;
  opacity: 0.7;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo:hover, .logo:focus {
  text-decoration: none;
  color: #000000;
}

.logo__color {
  color: #2196f3;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

.navigation__list-link {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__list-link--active {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.navigation__list-link--active::after {
  position: absolute;
  left: 0;
  bottom: -33px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.navigation__list-link:hover, .navigation__list-link:focus {
  text-decoration: none;
  color: #2196f3;
}

.navigation__list-item:not(:last-child) {
  margin-right: 50px;
}

.address__list {
  display: flex;
}

.address__list-link {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}

.address__list-link:hover, .address__list-link:focus {
  color: #2196f3;
  text-decoration: none;
}

.address__list-link > svg {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__list-link:hover > svg {
  fill: #2196f3;
}

.address__list-item:not(last-child) {
  margin-right: 50px;
}

.header__address {
  margin-left: auto;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 25px 0px;
}

.hero {
  padding: 200px 0px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-hero/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero__title {
  margin: 0 auto;
  width: 696px;
  height: 120px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.advantage {
  padding-top: 94px;
}

.advantage__list {
  display: flex;
}

.advantage__list-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantage__list-item:not(last-child) {
  margin-right: 30px;
}

.advantage__list-item--antenna::before {
  background-image: url("../images/advantages/antenna.svg");
}

.advantage__list-item--clock::before {
  background-image: url("../images/advantages/clock.svg");
}

.advantage__list-item--diagram::before {
  background-image: url("../images/advantages/diagram.svg");
}

.advantage__list-item--astronaut::before {
  background-image: url("../images/advantages/astronaut.svg");
}

.advantage__list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  color: #212121;
}

.advantage__list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-top: 10px;
  color: color-additional;
}

.examples-list {
  display: flex;
  justify-content: space-between;
}

.examples-list__item {
  position: relative;
}

.examples-list__description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  color: #ffffff;
}

.team {
  background: #f5f4fa;
}

.team__list {
  display: flex;
}

.team-list__wrapper {
  padding: 30px 32px;
}

.team__item {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}

.clients-list {
  display: flex;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link > svg {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover > svg {
  fill: #2196f3;
}

.clients-list__item:hover {
  width: 170px;
  height: 90px;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  align-items: center;
}

.footer__container--padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  color: #fff;
}

.footer__logo:hover, .footer__logo:focus {
  text-decoration: none;
  color: #fff;
}

.footer__address {
  margin-right: 70px;
}

.footer__address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-link:hover, .footer__address-link:focus {
  text-decoration: none;
  color: #fff;
}

.footer__address-list {
  margin-top: 20px;
}

.footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__label {
  margin-bottom: 0;
}

.subscribe {
  margin-left: auto;
}

.subscribe-form {
  position: relative;
  width: 570px;
  height: 86px;
  display: flex;
  flex-wrap: wrap;
}

.subscribe-form__email {
  display: inline-block;
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #fff;
}

.subscribe-form__email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.modal-button__footer {
  display: inline-flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  position: absolute;
  right: 0;
  bottom: -3px;
  text-align: left;
}

.modal-button__footer::after {
  content: "";
  display: inline-block;
  background-color: #2196f3;
  background-image: url("../images/icon-send.svg");
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */